/node_modules
/vendor
/.idea
/.git
/.vagrant
/.vscode
/.config
/mysql_logs
/mysql
/mariadb_data
.env
.phpunit.result.cache
.php_cs.cache
_ide_helper.php
_ide_helper_models.php
supervisord.log
supervisord.pid

/bootstrap/cache/*.php
/storage/app
/rabbitmq
/public/uploads
/public/storage
/storage/logs/test
/storage/logs/*.log
/storage/debugbar/*.log
/storage/framework/cache/*.log
/storage/framework/session/*.log
/storage/framework/testing/*.log
/storage/framework/views/*.log
